Leads from Email to Sheet (1).json
{
  "name": "Leads from Email to Sheet",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "hour": 3
            }
          ]
        },
        "filters": {
          "sender": "Michelle from Dealls"
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "d3c20e81-e020-4f54-a5a9-a71312f22236",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "V7OtndZ5psySYX4t",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1vb6xTAc0hh567BPYet4SmhnMir2dD2c9USH6mFT4SpQ",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Data",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nama": "={{ $json.Nama }}",
            "Email": "={{ $json.Email }}",
            "Whatsapp": "={{ $json.Whatsapp }}",
            "Role": "={{ $json.Role }}",
            "Company": "={{ $json.Company }}",
            "Content": "={{ $json.Content }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "SDR",
              "displayName": "SDR",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "#",
              "displayName": "#",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Nama",
              "displayName": "Nama",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Whatsapp",
              "displayName": "Whatsapp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Role",
              "displayName": "Role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Verdict LinkedIn",
              "displayName": "Verdict LinkedIn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "GetContact",
              "displayName": "GetContact",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Di GC Terindikasi HR?",
              "displayName": "Di GC Terindikasi HR?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "SDR",
              "displayName": "SDR",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "RAW"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        448,
        0
      ],
      "id": "1588d3f6-7459-4384-b18f-87f7b9925c47",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PrtNYYhSFPww9C8A",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const snippet = $input.all()[0].json.snippet;\n\nconst getValue = (label) => {\n  const regex = new RegExp(label + \":\\\\s*([^\\\\n:]+?)(?=\\\\s+[a-z]+:|$)\", \"i\");\n  const match = snippet.match(regex);\n  return match ? match[1].trim() : \"\";\n};\n\nreturn [\n  {\n    Nama: getValue(\"name\"),\n    Email: getValue(\"email\"),\n    Whatsapp: getValue(\"whatsapp\"),\n    Role: getValue(\"role\"),\n    Company: getValue(\"company\"),\n    Content: getValue(\"slug\")\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ],
      "id": "bd044241-0c76-402e-a5a2-48bf5addc2a9",
      "name": "Code"
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b70a7162-18db-41f8-b7dc-4f03edd6f788",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d040f42b943b3bdd9cf0f1cdc5ac10db8764056167d1e247bc5c3302629cdd04"
  },
  "id": "NsEOneN95y6jYCFP",
  "tags": []
}